BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
#
LOCATE COMP "spiMOSI" SITE "68" ;
LOCATE COMP "spiClock" SITE "69" ;
LOCATE COMP "led0" SITE "97" ;
LOCATE COMP "led1" SITE "98" ;
LOCATE COMP "led2" SITE "99" ;
LOCATE COMP "led3" SITE "100" ;
LOCATE COMP "led4" SITE "104" ;
LOCATE COMP "led5" SITE "105" ;
LOCATE COMP "led6" SITE "106" ;
LOCATE COMP "led7" SITE "107" ;
LOCATE COMP "dataEnable" SITE "35" ;
LOCATE COMP "extclock" SITE "5" ;
LOCATE COMP "redIn[0]" SITE "132" ;
LOCATE COMP "redIn[1]" SITE "133" ;
LOCATE COMP "redIn[2]" SITE "138" ;
LOCATE COMP "redIn[3]" SITE "139" ;
LOCATE COMP "redIn[4]" SITE "140" ;
LOCATE COMP "redIn[5]" SITE "141" ;
LOCATE COMP "redIn[6]" SITE "142" ;
LOCATE COMP "redIn[7]" SITE "143" ;
LOCATE COMP "greenIn[0]" SITE "119" ;
LOCATE COMP "greenIn[1]" SITE "120" ;
LOCATE COMP "greenIn[2]" SITE "121" ;
LOCATE COMP "greenIn[3]" SITE "122" ;
LOCATE COMP "greenIn[4]" SITE "125" ;
LOCATE COMP "greenIn[5]" SITE "126" ;
LOCATE COMP "greenIn[6]" SITE "127" ;
LOCATE COMP "greenIn[7]" SITE "128" ;
LOCATE COMP "blueIn[0]" SITE "109" ;
LOCATE COMP "blueIn[1]" SITE "110" ;
LOCATE COMP "blueIn[2]" SITE "111" ;
LOCATE COMP "blueIn[3]" SITE "112" ;
LOCATE COMP "blueIn[4]" SITE "113" ;
LOCATE COMP "blueIn[5]" SITE "114" ;
LOCATE COMP "blueIn[6]" SITE "115" ;
LOCATE COMP "blueIn[7]" SITE "117" ;
